/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipo de letra */
body {
    font-family: 'Segoe UI Light', Tahoma;
}

.diagnostic {
    display:inline-block;
    text-align: center;
    /* justify-content: space-between; */
    padding: 180px 50px;
    background: linear-gradient(135deg, #004e43, #00e6a4);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.diagnostic-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.diagnostic-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-diagnostic {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #004e43;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-diagnostic:hover {
    transform: scale(1.1);
    background-color: #004e43;
    color: white;
}

.diagnostic-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
}

.triangle_2 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #00e6a4;
}

/* Animación flotante */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


/* Servicios */
.service-section {
    padding: 50px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.service-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.service-content.reverse {
    flex-direction: row-reverse;
}

.service-text {
    flex: 1;
    max-width: 600px;
}

.service-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #004e43;
}

.service-text p {
    font-size: 1rem;
    color: #555;
}

.service-text li{
    margin-left: 20px;
}

.service-image {
    flex: 1;
    max-width: 400px;
}

.service-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-image img:hover {
    transform: scale(1.05);
}

/* Catálogo */
.catalog-section {
    text-align: center;
    padding: 50px 300px;
    background-color: #ffffff;
}

.catalog-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #002b26;
}

.catalog-section p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.catalog-section .btn {
    background-color: #00e6a4;
    color: #002b26;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.catalog-section .btn:hover {
    background-color: #00b387;
}

.catalog-section .contact-text {
    margin-top: 20px;
    font-size: 1rem;
    color: #777;
}
